* {
box-sizing:border-box;
}

html {
scroll-behavior:smooth;
font-family:sans-serif;
scroll-snap-points-y:repeat(200vh);
scroll-snap-type:y mandatory;
}

body,html {
height:100%;
margin:0;
padding:0;
}

.section {
min-height:800px;
text-align:center;
font-family:sans-serif, arial;
position:relative;
height:100%;
scroll-snap-align:start;
margin:0;
}

h1,p {
font-family:sans-serif, arial;
font-weight:700;
margin:0 0 3px;
}

.text-wr {
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%,-50%);
-moz-transform:translate(-50%,-50%);
-o-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
}

.text-p {
position:relative;
top:25%;
left:50%;
-webkit-transform:translate(-50%,-50%);
-moz-transform:translate(-50%,-50%);
-o-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
}

.text-p img {
width:200px;
height:200px;
}

#section0 {
background:#5c53aa;
color:#8d86c3;
}

#section1 {
background:#0a0e12;
color:#8d86c3;
}

#section2 {
background:#051324;
color:#346cb3;
}

#section3 {
background:#0A2647;
color:#051324;
}

#section4 {
background:#144272;
color:#aeb9b9;
}

#section5 {
background:#205295;
color:#07223d;
}

#section6 {
background:#2C74B3;
color:#aeb9b9;
}

article {
border-radius:7px;
background:rgba(255,255,255,0.5);
-webkit-transition:all .2s ease-out;
-moz-transition:all .2s ease-out;
-ms-transition:all .2s ease-out;
-o-transition:all .2s ease-out;
transition:all .2s ease-out;
text-decoration:none;
color:#000;
font-family:sans-serif, arial;
font-weight:100;
word-break:keep-all;
direction:rtl;
text-align:right;
margin:0 0 20px;
padding:7px 20px;
}

h1 {
font-size:50px;
margin-bottom:25px;
}

.title-top {
font-size:60px;
padding-bottom:30px;
}

.title-bottom {
font-size:30px;
}

.title-tx {
font-size:20px;
opacity:0.8;
}

.nav {
position:fixed;
width:100%;
top:20px;
z-index:9;
padding-left:10px;
}

.nav a {
border-radius:7px;
margin-right:10px;
background:rgba(255,255,255,0.5);
-webkit-transition:all .2s ease-out;
-moz-transition:all .2s ease-out;
-ms-transition:all .2s ease-out;
-o-transition:all .2s ease-out;
transition:all .2s ease-out;
text-decoration:none;
color:#000;
font-family:sans-serif, arial;
font-weight:100;
padding:7px 20px;
}

.nav a.active {
background:rgba(0,0,0,0.5);
color:#FFF;
}

.nav a:hover {
background:rgba(255,255,255,0.7);
}

.fork-wr img {
position:fixed;
z-index:99;
top:0;
right:0;
border:0;
}

pre {
background-color:#12161b;
border-radius:4px;
font-size:14px;
line-height:1.5;
overflow-x:auto;
white-space:pre-line;
text-align:left;
padding:15px 15px 0;
}

code {
font-family:"Courier New", monospace;
}

.language-css .keyword {
color:#0072c6;
font-weight:700;
}

.language-css .string {
color:#a65858;
}

15% {
opacity:1;
top:50%;
}

50% {
opacity:0;
top:50%;
}

100% {
opacity:0;
top:29%;
}

.scroll-btn {
display:block;
position:absolute;
left:0;
right:0;
text-align:center;
}

.scroll-btn > * {
display:inline-block;
line-height:18px;
font-size:13px;
font-weight:400;
color:#fff;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
letter-spacing:2px;
}

.scroll-btn > :hover,.scroll-btn > :focus,.scroll-btn > .active {
color:#fff;
}

.scroll-btn > :hover,.scroll-btn > :focus,.scroll-btn > :active,.scroll-btn > .active {
opacity:0.8;
filter:alpha(opacity=80);
}

.scroll-btn .mouse {
position:relative;
display:block;
width:35px;
height:55px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
border:3px solid #FFF;
border-radius:23px;
margin:0 auto 20px;
}

.scroll-btn .mouse > * {
position:absolute;
display:block;
top:29%;
left:50%;
width:8px;
height:8px;
background:#FFF;
border-radius:50%;
-webkit-animation:ani-mouse 2.5s linear infinite;
-moz-animation:ani-mouse 2.5s linear infinite;
animation:ani-mouse 2.5s linear infinite;
margin:-4px 0 0 -4px;
}

.styled-table {
border-collapse:collapse;
font-size:.9em;
font-family:sans-serif;
min-width:400px;
box-shadow:0 0 20px rgba(0,0,0,0.15);
margin:25px 0;
}

.styled-table thead tr {
background-color:#009879;
color:#fff;
text-align:left;
}

.styled-table th,.styled-table td {
padding:12px 15px;
}

.styled-table tbody tr {
border-bottom:1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
background-color:#f3f3f3;
}

.styled-table tbody tr:last-of-type {
border-bottom:2px solid #009879;
}

.styled-table tbody tr.active-row {
font-weight:700;
color:#009879;
}
